.idea

.vagrant
/logs/*
!/logs/readme.txt

/www/underscores/www/wp/

# underscores
/www/underscores/www/*
!/www/underscores/www/content/

# underscores content
/www/underscores/www/content/*

# underscores mu-plugins
!/www/underscores/www/content/mu-plugins/
/www/underscores/www/content/mu-plugins/*
!/www/underscores/www/content/mu-plugins/plugin-loader.php

/www/underscores/www/content/plugins/*
/www/underscores/www/content/themes/*